* {
  margin: 0;
  padding: 0;	
}

#word-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#block {
  /* position: absolute; */
  margin-top: 9px;
  width: 13px;
  height: 17px;
  background-color: yellow;
  display:inline-block;
}

.blockBC {
    background-color: pink;
    width: 13;
    height: 17px;
}

#blockRed { /* right now not used*/
  position: absolute;
  margin-top: 9px;
  width: 13px;
  height: 17px;
  background-color: red;
}

.keyboard-container {
  margin-top: 200px;
}

#next-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

.keyPressed {
    background-color: #B2B8F7;
}

#words-typed {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237;
  font-size: 10px;
}

.glyphicon-remove {
  color : #CD2626;
  font-size: 10px;
}
